.container {
    max-width: 500px;
    margin: 1rem auto;
    border: 2px solid var(--green);
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: var(--card-color);
}

@media (max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.image {
    width: 80%;
    height: auto;
    margin-top: 2rem;
    box-shadow: .2rem .2rem .2rem var(--background-color);
}

.header {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.name {
    font-family: 'Pangolin', cursive;
    font-size: 2rem;
}

.info {
    display: flex;
    padding: 1rem 0;
    font-family: 'Pangolin', cursive;
}

.info>div:nth-child(1) {
    font-size: 1.5rem;
    flex: 0 0 50%;
}

.info>div:nth-child(2) {
    font-size: 1rem;
    margin-top: 0.5rem;
    flex: 0 0 50%;
}