.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}


.total {
    font-size: 1.25rem;
}


.form input {
    background: transparent;
    border: 2px solid var(--green);
    font-family: 'Pangolin', cursive;
    padding: .25rem .5rem;
    border-radius: .5rem;

}

.form input::placeholder {
    color: var(--color);
}