* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    box-sizing: border-box;
}


:root {
    --green: #C5E077;
    --background-color: #043F47;
    --color: #ffffff;
    --card-color: #0C7D85;

}


@media (max-width: 900px) {
    :root {
        font-size: 15px;
    }
}


@media (max-width: 500px) {
    :root {
        font-size: 14px;
    }
}


body {
    background-color: var(--background-color);
    color: var(--color);
    font-family: 'Pangolin', cursive;
}


a {
    color: inherit;
    text-decoration: none;
}


main {
    margin-top: 5rem;
    padding: 1.5rem;
}